
            <!-- Details page -->
            <section id="details">
                <div id="details-wrapper">
                    <p id="details-title">Name: Beryl</p>
                    <div id="img-wrapper">
                        <img src="{{image}}" />
                    </div>
                    <div id="info-wrapper">
                        <table>
                            <tr>
                                <td>
                                    <p>
                                        Category: <span id="details-category">{{category}}</span>
                                    </p>
                                </td>
                                <td>
                                    <p>Color: <span id="details-color">{{color}}</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Location: <span id="details-location">{{location}}</span></p>
                                </td>
                                <td>
                                    <p>Formula: <span id="details-formula">{{formula}}</span></p>
                                </td>
                            </tr>
                        </table>
                        <p>Description: <span id="details-description">{{description}}</span></p>
                    </div>

                    <!--Edit and Delete are only for creator-->
                   
                    <div id="action-buttons">
                        {{#if isOwner}}
                        <a href="/stones/{{_id}}/edit" id="edit-btn">Edit</a>
                        <a href="/stones/{{_id}}/delete" id="delete-btn">Delete</a>
                        {{/if}}
                        {{#unless isLiked}}
                        <a href="/stones/{{_id}}/like" id="like-btn">Like</a>
                        {{else}}
                        <p id="already-liked">You already liked this stone!</p>
                        {{/unless}}
                    </div>
                    
                </div>
            </section>
