<main class="details">
    <!-- Details page -->
    <section id="details">
        <div id="details-wrapper">
            <p id="details-title">Name: {{name}}</p>
            <div id="img-wrapper">
                <img src="{{image}}" />
            </div>
            <div id="info-wrapper">
                <table>
                    <tr>
                        <td>
                            <p>
                                Category: <span id="details-category">{{category}}</span>
                            </p>
                        </td>
                        <td>
                            <p>Color: <span id="details-color">{{color}}</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Location: <span id="details-location">{{location}}</span></p>
                        </td>
                        <td>
                            <p>Formula: <span id="details-formula">{{formula}}</span></p>
                        </td>
                    </tr>
                </table>
                <p>Description: <span id="details-description">{{description}}</span></p>
            </div>

            <!--Edit and Delete are only for creator-->
            {{#if user}}
            <div id="action-buttons">
                {{#if isOwner}}
                <a href="/stone/{{_id}}/edit" id="edit-btn">Edit</a>
                <a href="/stone/{{_id}}/delete" id="delete-btn">Delete</a>
                {{else}}
                {{#if isLiked}}
                <p id="already-liked">You already liked this stone!</p>
                {{else}}
                <a href="/stone/{{_id}}/like" id="like-btn">Like</a>
                {{/if}}
                {{/if}}
            </div>
            {{/if}}
        </div>
    </section>
</main>